<div class="container">
  <div class="row">
    <div class="card bg-body-secondary offset-md-1" style="width: 80%;">
      <div class="card-body">
        <h5 class="card-title">USQUA</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">このアプリについて</h6>
        <p class="card-text">
          「usqua」は、ウイスキーの管理・テイスティング評価・カクテルテイスティングができるアプリです。<br>
          ウイスキーの呼び名の歴史に由来するアプリ名です。<br><br>
          <strong>主な機能:</strong><br>
          - ウイスキーの名前、種類、詳細情報を登録し、あらかじめ設定された量（0ml, 100ml, 200mlなど）や、画像を使用して実際の量を管理できます。<br>
          - テイスティングを5段階評価で記録可能です（香り、味、バランス、濃さ、余韻）。<br>
          - ウイスキーベースのカクテル一覧もあり、作成動画を参照しながら自分でカクテルを作成し、評価ができます。<br>
          - カクテル評価は5段階評価で、味、香り、後味、見た目、色合い、口当たりを基準に行います。<br>
          - マイページでは、自分が登録したウイスキーの総数や種類ごとの登録状況をグラフで確認可能です。<br>
          - 国内の蒸留所一覧ページでは、Google Mapsを活用して場所や公式サイトへのリンクを確認できます。<br><br>
          <strong>参考書籍:</strong> ウイスキーコニサー資格認定試験教本2018上
        </p>
      </div>
    </div>
  </div>
</div>
