<div class="container">
  <div class="row">
    <div class="card bg-body-secondary offset-md-1" style="width: 80%;">
      <div class="card-body">
        <h5 class="card-title">USQUA</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">このアプリについて</h6>
        <p class="card-text">
          「usqua」は、ウイスキーの管理・テイスティング評価・カクテルテイスティングができるアプリです。<br>
          ウイスキーの呼び名の歴史に由来するアプリ名です。<br><br>
          <strong>参考書籍:</strong> ウイスキーコニサー資格認定試験教本2018上
        </p>
      </div>
    </div>
    <div class="card mb-3 ms-3 mt-3 fs-3" id="mypage" style="max-width: 1400px; box-shadow: 3px 3px 5px #000000;">
      <div class="row g-0">
        <div class="col-md-6">
          <%= image_tag "ss4.png", class: "image img-fluid rounded-start" %>
        </div>
        <div class="col-md-6">
          <div class="card-body ms-5">
            <h5 class="card-title">マイページ</h5>
            <p class="card-text">登録したウイスキーの総本数や種別ごとの本数をグラフで確認できるので、普段と違うウイスキーを検討するのに役立ちます。<br> また、お気に入り登録したカクテルを見ることが出来ますので、これから作成するカクテル、作成済みのカクテルとした用途でも活用できます。</p>
            <p class="card-text"><small class="alert">新規登録、ログインして利用可能です</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 ms-3 mt-3 fs-3" id="new-whiskey" style="max-width: 1400px; box-shadow: 3px 3px 5px #000000;">
      <div class="row g-0">
        <div class="col-md-6">
          <%= image_tag "ss1.png", class: "image img-fluid rounded-start" %>
        </div>
        <div class="col-md-6">
          <div class="card-body ms-5">
            <h5 class="card-title">ウイスキー一覧</h5>
            <p class="card-text">登録したウイスキーを一覧として確認できます。<br>数が多くなった場合には検索して探してみてください。</p>
            <p class="card-text"><small class="alert">新規登録、ログインして利用可能です</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 ms-3 mt-3 fs-3" id="index-cocktail" style="max-width: 1400px; box-shadow: 3px 3px 5px #000000;">
      <div class="row g-0">
        <div class="col-md-6">
          <%= image_tag "ss2.png", class: "image img-fluid rounded-start" %>
        </div>
        <div class="col-md-6">
          <div class="card-body ms-5">
            <h5 class="card-title">カクテル一覧</h5>
            <p class="card-text">ウイスキーベースのカクテルリストが表示され、カクテル名や簡単な説明、アイコンが並びます。<br>
              気になるカクテルをクリックすると、レシピや作成手順をYouTube動画で確認できます。お気に入り登録機能（<i class="fa-solid fa-heart"></i>）もあり、作成したいカクテルをマイページに保存できます。</p>
            <p class="card-text"><small class="alert">新規登録、ログインしないと一部の機能をご利用いただけません</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 ms-3 mt-3 fs-3" id="distillery" style="max-width: 1400px; box-shadow: 3px 3px 5px #000000;">
      <div class="row g-0">
        <div class="col-md-6">
          <%= image_tag "ss3.png", class: "image img-fluid rounded-start" %>
        </div>
        <div class="col-md-6">
          <div class="card-body ms-5">
            <h5 class="card-title">蒸留所一覧</h5>
            <p class="card-text">日本各地の蒸留所を地図上で探すことができます。<br>
              飲んでいるウイスキーはどこで作られているのか確認してみましょう！
            </p>
            <p class="card-text"><small class="alert">新規登録、ログインしなくても利用可能です</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .card-text {
    font-size: 20px;
  }
</style>
