<div class="top">
  <p class="title anim-box fadein is-animated"><%= t('.title') %></p>
  <p class="main-phrase anim-box zoomin is-animated">ウイスキーの世界へようこそ~初心者からの旅路をサポートします~</p>
  <p class="sub-phrase anim-box zoomin is-animated">購入したウイスキーを管理してみませんか？</p>
</div>

<div class="explanation">
  <div class="select-whiskey">
    <div class="select-card card ">
      <div class="card-title pt-5">
        <h2>今日の一杯！！</h2>
      </div>
      <div id="selecter" data-name="">
      </div>
      <div class=" card-button pt-3 pb-3">
        <%= link_to "今日の一杯を選ぶ", select_path, class: "btn btn-primary", id: "select" %>
      </div>
      <div class="card-text mb-5 pt-2">
        <h5>ボタンを押して、今日の一杯を決めてください！</h5>
      </div>
    </div>
  </div>
  <div class="new">
    <div class="new-button">
      <h3>早速、管理をする。</h3>
      <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-primary ms-3' %>
      <%= link_to "ログイン", new_user_session_path, class: 'btn btn-success ms-3' %>
    </div>
  </div>
</div>
<style>
  .select-card {
    width: 60%;
    align-items: center;
  }

  .select-whiskey {
    display: flex;
    justify-content: center;
  }
</style>
<script>
  document.addEventListener('turbo:load', function() {
    const select = document.getElementById('select');
    const selecter = document.getElementById('selecter');

    select.addEventListener('click', function(event) {
      event.preventDefault(); // デフォルトのリンク動作を無効化

      // 非同期リクエストを送信
      fetch('/select.json')
        .then(response => response.json()) // JSON形式でレスポンスを解析
        .then(data => {
          // 取得したデータを表示
          selecter.innerHTML = data;
        })
        .catch(error => {
          console.error("Error:", error);
        });
    });
  });
</script>
