<div id="badge-popup" class="popup" style="display: none;">
  <div class="popup-content">
    <span class="close">&times;</span>
    <h2>新しいバッジがあります！</h2>
    <div id="badge-list"></div>
  </div>
</div>
