<%= form_with model: @cocktail_search_form, url: cocktails_path, method: :get, local: true, class: 'search-form' do |f|%>
  <div class="row">
    <div class="col-md-2">
      <%= f.label :keyword, class: 'form-label' %>
      <%= f.text_field :keyword, class: 'form-control g-3 align-items-center' %>
    </div>

    <div class="col-md-2 d-flex align-items-end">
      <%= f.submit t('helpers.submit.search'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
