<div class="container">
  <div class="row" style="margin-left: 500px;">
    <%= form_with model: @cocktail_search_form, url: cocktails_path, method: :get, class: 'search-form' do |f| %>
      <div class="col-md-4 mb-3">
        <%= f.text_field :keyword, class: 'form-control', placeholder: 'キーワードを入力' %>
      </div>
      <div class="col-md-4 mb-3">
        <%= f.submit t('helpers.submit.search'), class: 'btn btn-outline-success' %>
      </div>
    <% end %>
  </div>
</div>
