<nav aria-label="Cocktail navigation">
  <ul class="pagination d-flex justify-content-between">
    <li class="page-item">
      <% if @prev_cocktail %>
        <%= link_to cocktail_path(@prev_cocktail), class: "page-link", aria: { label: "Previous" } do %>
          <span aria-hidden="true">&laquo; 前のカクテル</span>
        <% end %>
      <% else %>
        <span class="page-link disabled" aria-hidden="true">&laquo; 前のカクテル</span>
      <% end %>
    </li>
    <li class="page-item">
      <% if @next_cocktail %>
        <%= link_to cocktail_path(@next_cocktail), class: "page-link", aria: { label: "Next" } do %>
          <span aria-hidden="true">次のカクテル &raquo;</span>
        <% end %>
      <% else %>
        <span class="page-link disabled" aria-hidden="true">次のカクテル &raquo;</span>
      <% end %>
    </li>
  </ul>
</nav>
