<footer id='footer' class='position: sticky;'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-6 text-start'>
        <ul class='list-unstyled'>
          <li>
            <%= link_to "#" do %><%= t('.rule') %><% end %>
          </li>
          <li>
            <%= link_to "#" do %><%= t('.private') %><% end %>
          </li>
        </ul>
      </div>
      <div class='col-md-6 text-end'>
        <p class="mb-0">Copyright © 2024. TXOXU</p>
      </div>
    </div>
  </div>
</footer>
