<div class="container">
  <div class="row">
    <div class="select-whiskey">
      <div class="select-card card ">
        <div class="card-title pt-5">
          <h2>今日の一杯！！</h2>
        </div>
        <div class="card-button pt-3 pb-3">
          <%= link_to "再度ランダムで選ぶ", random_whiskeys_path, method: :get, remote: true, class: "btn btn-primary", id: "select" %>
        </div>
        <div class="card-text mb-5 pt-2">
          <% if @whiskey.present? %>
          <h5>
            <%= @whiskey.name %>
          </h5>
          <% else %>
          <p style="color: red;">
            ウイスキーが１本も登録されていませんのでランダムに選択できませんでした。
          </p>
          <% end %>
          <%= link_to "ウイスキーを登録", new_whiskey_path, class: "new-link" %>
        </div>
      </div>
    </div>
  </div>
  <style>
    .select-card {
      width: 60%;
      align-items: center;
    }

    .select-whiskey {
      display: flex;
      justify-content: center;
    }

    .new-link {
      display: flex;
      justify-content: center;
    }
  </style>
