<nav aria-label="Whiskey navigation">
  <ul class="pagination d-flex justify-content-between">
    <li class="page-item">
      <% if @prev_whiskey %>
        <%= link_to whiskey_path(@prev_whiskey), class: "page-link", aria: { label: "Previous" } do %>
          <span aria-hidden="true">&laquo; 前のウイスキー</span>
        <% end %>
      <% else %>
        <span class="page-link disabled" aria-hidden="true">&laquo; 前のウイスキー</span>
      <% end %>
    </li>
    <li class="page-item">
      <% if @next_whiskey %>
        <%= link_to whiskey_path(@next_whiskey), class: "page-link", aria: { label: "Next" } do %>
          <span aria-hidden="true">次のウイスキー &raquo;</span>
        <% end %>
      <% else %>
        <span class="page-link disabled" aria-hidden="true">次のウイスキー &raquo;</span>
      <% end %>
    </li>
  </ul>
</nav>
