<div class="home-container position-relative">
    <div class="app-title position-absolute top-50 start-50 translate-middle ">
      <p>USQUA</p>
    </div>
  <div class="link-container">
    <div class="whisky-list-link">
      <%= link_to 'ウイスキー一覧', whiskeys_path %>
    </div>
    <div class="my-page-link">
      <%= link_to 'マイページ', '/mypage' %>
    </div>
    <div class="whisky-registration-link">
      <%= link_to 'ウイスキー登録画面', new_whiskey_path %>
    </div>
  </div>
</div>
