<div class="home-container">
  <div class="title-container">
    <div class="app-title">
      <p>USQUA</p>
    </div>
  </div>
  <div class="link-container">
    <div class="whisky-list-link">
      <%= link_to 'ウイスキー一覧', '#' %>
    </div>
    <div class="my-page-link">
      <%= link_to 'マイページ', '#' %>
    </div>
    <div class="whisky-registration-link">
      <%= link_to 'ウイスキー登録画面', '#' %>
    </div>
  </div>
</div>
