<div class="container p-5">
  <div class="row">
    <div class="card mt-5 pt-5 pb-5 bg-body-secondary">
      <h5 class="text-center">お問い合わせありがとうございました。<br>今後ともよろしくお願いいたします。</h5>
    </div>
  </div>
</div>
