<div class="tasting-container">
  <div class="tasting-new">
    <h1>テイスティング登録</h1>
  </div>


  <div class="tasting-frame">
    <div class="tasting-flavor">
    </div>

    <div class="tasting-aroma">
    </div>

    <div class="tag">
    </div>
  </div>

  <div class="tasting-explanation">
  </div>
</div>
