<h1>ウイスキーの登録が完了しました</h1>
<p>次に進むアクションを選択してください:</p>

<%= link_to 'テイスティングを登録する', new_whiskey_tasting_path(@whiskey), class: 'btn btn-primary' %>
<%= link_to 'ウイスキー一覧に戻る', whiskeys_path, class: 'btn btn-secondary' %>
