html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.sticky-top {
  background-color: #8B4513;
}

.home-container {
  background-color: #0ef20e;
  padding: 20px;
  text-align: center;
  height: 100%;
}

.title-container {
  margin-bottom: 20px;
}

.app-title p {
  margin-top: 200px;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.link-container {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.whisky-list-link, .my-page-link, .whisky-registration-link {
  font-size: 18px;
}

.image-container {
  max-width: 100px;
  max-height: 100px;
}
