.search-form {
  margin-bottom: 20px;
}

.cocktail-list .cocktail-item {
  margin-bottom: 20px;
}

.index-name {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.index-cocktail_origin {
  color: #555;
}
