


// タイトルのアニメーション
.anim-box.fadein.is-animated {
  animation: fadeIn 10s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.anim-box.zoomin.is-animated {
animation: zoomIn 15s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes zoomIn {
0% {
  transform: scale(0.8);
  opacity: 0;
}
100% {
  opacity: 1;
  transform: scale(1);
}
}


.title {
  color: #DAA520; /* リッチなゴールド */
  font-family: 'Playfair Display', serif; /* エレガントなセリフ体フォント */
  font-size: 48px; /* 最大フォントサイズ */
  font-weight: 800; /* ボールドウェイト */
  text-align: center; /* 画面のトップに堂々と配置 */
  
  /* エンボス効果 */
  text-shadow: 
      1px 1px 2px #000,  /* 外側の影 */
      -1px -1px 2px #fff,  /* 内側の光 */
      0px 0px 10px rgba(255, 255, 255, 0.5); /* 光沢のエフェクト */
}

.main-phrase {
  color: #D4AF37; /* ソフトなゴールド */
  font-family: 'Merriweather', serif; /* セリフ体フォント */
  font-size: 36px; /* 大きめのフォントサイズ */
  font-weight: 600; /* ミディアムウェイト */
  text-align: center; /* 中央に配置 */
  
  /* ソフトなドロップシャドウ */
  text-shadow: 
      3px 3px 5px #000000; /* シャドウの色、透明度、オフセット */
}

.sub-phrase {
  color: #CD7F32; /* ブロンズ */
  font-family: 'Lato', sans-serif; /* サンセリフ体フォント */
  font-size: 24px; /* メインフレーズより少し小さめ */
  font-weight: 400; /* レギュラーウェイト */
  text-align: center; /* 下部に配置 */

  text-shadow: 
      3px 3px 5px #000000; /* シャドウの色、透明度、オフセット */
}

.top { 
  margin-top: 100px;

}

.image {
  margin-bottom: 30px;
  margin-top:30px;
  margin-left: 30px;
}

.explanation {
    margin-top: 400px;
    flex-wrap: wrap;
}

.new {
  background-color: #CD7F32;
}

.new-button {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
.new-button h3 {
  font-family: 'Playfair Display', serif;
}

.alert {
  color: red;
}


body {
  transition: .5s;
}

.dark-theme .card {
  background-color: #000;
  color: #ddd;
}

    @media (max-width: 600px) {
      .container {
        width: 100%;
        padding: 10px;
      }
    }


    .breadcrumb {
      color: white;
    }

/* 下にスライドしてねメッセージのスタイル */
.slide-indicator {
  position: fixed;
  bottom: 20px;
  /* 画面下部に固定 */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  /* 背景色を半透明に */
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 矢印のアニメーション */
@keyframes slideArrow {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
    /* 少し下に動かす */
  }

  100% {
    transform: translateY(0);
  }
}

/* 矢印が上下に動く */
.slide-indicator::after {
  content: "↓";
  font-size: 20px;
  margin-left: 10px;
  animation: slideArrow 1s infinite;
  /* 1秒で繰り返しアニメーション */
}
/*下のtext*/
.text-bottom {
  text-align: right;
}
/*今日の一杯*/
.select-card {
  width: 60%;
  align-items: center;
}

.select-whiskey {
  display: flex;
  justify-content: center;
}
