<p>こんにちは、<%= @email %>さん！</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたのメールアドレスが<%= @resource.unconfirmed_email %>に変更される予定であることをお知らせするためにご連絡しています。</p>
<% else %>
  <p>あなたのメールアドレスが<%= @resource.email %>に変更されたことをお知らせするためにご連絡しています。</p>
<% end %>
